@font-face {
  font-family: 'Gilroy';
  src:
    url('../css/fonts/Gilroy-Regular.woff2'),
    url('../css/fonts/Gilroy-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../css/fonts/Gilroy-MediumItalic.woff2'),
    url('../css/fonts/Gilroy-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../css/fonts/Gilroy-Semibold.woff2'),
    url('../css/fonts/Gilroy-Semibold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.woff2')
    url('../css/fonts/Gilroy-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/
img {
  display: block;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #0c0c0c;
}
.header-social-list {
  display: flex;
}
.header-social-item {
  padding-left: 10px;
}
.header-social-link {
}
.ul-main {
  display: flex;
}
.li-main {
  padding-left: 20px;
}

.hero-back {
  background-color: #2e2f42;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  background-image:
    /* linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), */ url(../images/spring-forest.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  max-width: 100%;
  height: auto;
}

.text-hero-first {
  color: #1a3e2b;
  text-align: center;
  padding: 188px 0;
}
.comand-com {
  background-color: aqua;
}
.comand-main {
}
.list-comand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-overlay {
  position: relative;
  overflow: hidden;
}
.list-overlay:hover .overlay {
  transform: translateY(0);
}
.overlay {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #3f51b5;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  padding: 40px 32px 164px;
}

.list-comand-foto {
  padding-bottom: 20px;
  text-align: center;
  display: block;
  max-width: 100%;
  height: auto;
}
.list-comand-foto img {
  width: 200px;
  padding: 10px;
  height: 250px;
}
.comand-task {
  background-color: blueviolet;
  padding-bottom: 50px;
}
.task-comand {
}
.task-tekst {
  padding: 50px;
  text-align: center;
}
.list-task {
}
.list-task-qwest {
  padding-bottom: 20px;
}
.list-foto {
}
.blok-footer {
  background-color: burlywood;
  height: 200px;
}
.s-form {
  width: 200px;
  background-color: aqua;
  margin: 15px 0 25px 40px;
}
.f-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  gap: 20px;
  padding: 10px 0 15px 25px;
}
.contact-footer {
}
.contact-list-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.contact-tel {
}
.contact-email {
}
.contat-adress {
}
.sociated-footer {
}
.sociated-list-footer {
  display: flex;
  justify-content: space-between;
}
.sociated-facebook {
  padding: 50px 50px 10px 50px;
}
.sociated-instagram {
  padding: 50px 50px 10px 50px;
}
.sociated-youtube {
  padding: 50px 50px 10px 50px;
}
.sociated-telegram {
  padding: 50px 50px 10px 50px;
}
.button-footer {
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Горизонтальное центрирование */
  padding-top: 20px;
}
.button-footer-but {
  background-color: red;
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10%;
}
